body {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    padding: 10px;
    min-width: 300px;
    width: 70%;
    max-width: 960px;
    min-height: 100vh;
    margin: auto;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

header,main,footer {
    padding: 20px;
    margin: 10px;
}

header {
    padding-left: 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

ul {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 22px;

    list-style: none;

    display: flex;

    align-items: center;
}

li {
    margin: 10px;
}

li:first-child {
    margin-right: auto;
    font-size: 33px;
}

p {
    text-align: justify;
}

footer {
    text-align: center;
    font-size: 17px;
    padding: 5px;
}

/* Блок */

body {
    margin: 0px;
}

.main {
    margin: 20px auto;
    width: 350px;
    height: 500px;
    box-shadow: 0px 0px 5px black;
}

.photo {
    background-image: url(./img/glass.webp);
    height: 250px;
    background-position: center;
    background-size: cover;
}

.date {
    background-color:rgb(235, 235, 235);
    text-align: center;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;

}

h4 {
    text-align: center;
    color: black;
    font-family: 'Oswald', sans-serif;
}

.Lorem {
    margin: auto;
    text-align: center;
    color: gray;
    font-family: 'Lato';

}

a {
    color: black;
}

.rate {
    margin:20px 20px auto;
    color: rgb(265, 165,0);
    text-align: center;
}

.footer {
    color: rgb(200, 200, 200);
    background-color: black;
}

.like {
    display: inline-block;
    width: 150px;
    text-align: right;
}

